In [ ]:
# zoo.py

def hours():
    print("Open 9-5 daily")

In [ ]:
>>> import zoo as menagerie
>>> menagerie.hours()
Open 9-5 daily

In [ ]:
from sqlalchemy import create_engine, MetaData, Table, select

# Connect to the SQLite database
engine = create_engine('sqlite:///books.db')
connection = engine.connect()

# Reflect the metadata of the database
metadata = MetaData()
book_table = Table('book', metadata, autoload_with=engine)

# Query to select and order titles alphabetically
query = select(book_table.c.title).order_by(book_table.c.title)

# Execute the query and fetch results
result = connection.execute(query)

# Print the titles
print("Book Titles in Alphabetical Order:")
for row in result:
    print(row.title)

# Close the connection
connection.close()